body {
    font-family: 'Mouse Memoirs', sans-serif;
}

button {
    font-family: 'Mouse Memoirs', sans-serif;
}

.main {
    min-height: 15rem;
}

img {
    border-radius: 10%;
}

.custom-shadow {
    box-shadow: 3.3px 6.6px 6.6px hsl(0deg 0% 0% / 0.40);
}

.b {
    border: 1px black solid;
}

.bb {
    border-bottom: 1px black solid;
}

#submitBtn {
    border: none;
    font-family: sans-serif;
    font-size: 17px;
    background: transparent;
    color: #006bb3;
    border: solid 1px rgba(0, 107, 179, 0.2);
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.2s;
}

#submitBtn:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    transition-duration: 0.2s;
}

#submitBtn:hover:before {
    margin-left: 0px;
    opacity: 1;
}

#submitBtn:hover {
    color: black;
    background: rgba(0, 0, 0, 0.02);
    border: solid 1px gainsboro;
}

#favorites {
    width: 100%;
}
